<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% macro yn(boolean) %}{% if boolean %}yes{% else %}no{% endif %}{% endmacro %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Service Learning Scholars Tracker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        {% block head %}{% endblock %}
    </head>

    <body>
        <div id="header-wrap">
            <div id="header">
                <div id="user">
                    <p>Signed in as {{ session.username }} / {{ session.name }}<br/>
                    <a href="/logout">Sign out</a></p>
                </div>
                <img src="/static/logo-70h.jpg"/ id="logo">
                <h1>Service Learning Scholars</h1>
                <div id="{% block tab %}tab1{% endblock %}"> 
                    <ul id="tabnav">
                        <li class="tab1"><a href="/">Semesters</a></li>
                        {% if session.admin %}
                        <li class="tab2"><a href="/admin/students/">Students</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="bread">
            <ul>
                <li class="first">Location</li>
                {% block bread %}
                {% endblock %}
            </ul>
        </div>
        <div id="content-outer">
            <h2>{% block content_heading %}Content Header{% endblock %}</h2>
            <div class="content-inner">
                <div id="flash">
                    {% for msg in get_flashed_messages() %}
                    <p>{{ msg }}</p>
                    {% endfor %}
                </div>
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
