{% extends "admin_base.html" %}
{% block head %}
<script src="/static/jquery-1.7.1.min.js"></script>
<script src="/static/jquery-ui-1.8.18.custom.min.js"></script>
<script>
    $(function() {
        $('#date').datepicker();

        $.ajax({
            url: "/organizations/",
            dataType: 'json',
            success: function(data) {
                data = data['organizations'];
                var i, j, tr;
                for (i = 0; i < data.length; i++) {
                    tr = $('<tr>');
                    for (j = 0; j < data[i].length - 1; j++) {
                        tr.append( $('<td>').html(data[i][j]) );
                    }
                    $('#orgs').append(tr);
                }

            }
        });

        var dialog = $('#dialog').dialog(
        {
            autoOpen: false,
            title: 'Select an Organization',
            height: 'auto',
            width: '50em'
        });

        $('#tabs').tabs();

        $('#selectorg').click(function() {
            dialog.dialog('open');
            return false; 
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="/static/custom-theme/jquery-ui-1.8.18.custom.css" />
{% endblock head %}
{% block tab %}tab1{% endblock %}
{% block bread %}
<li><a href="/">Semesters</a></li>
<li>{{ semester.name }}</li>
{% endblock %}
{% block content_heading %}{{ student.name }}'s hours for {{ semester.name }}{% endblock %}</h2>
{% block content %}
<table>
    <tr><th>Date</th><th>Hours</th><th>Activity</th>

{% if semester.active %}
        <th></th>
        {% endif %}
    </tr>
    {% for entry in entries %}
    <tr class="{{ loop.cycle("alt", "") }}"><td>{{ entry.event_date }}</td><td>{{ entry.hours }}</td><td>{{ entry.activity }}</td>
{% if semester.active %}
        <td><a href="/semesters/{{ semester.id }}/hours/{{ entry.id }}?_method=DELETE">delete</a></td>
        {% endif %}
    </tr>
        {% else %}
        <tr class="alt"><td colspan="4">No hours entered yet.</td></tr>
    {% endfor %}

</table>
<br />
Total hours for semester: {{ hours }}
{% if semester.active %}

<div id="dialog">
    <div id="tabs">
	<ul>
            <li><a href="#tabs-1">Choose Organization</a></li>
            <li><a href="#tabs-2">Add New Organization</a></li>
	</ul>
	<div id="tabs-1">
            <table id="orgs">
                <tr><th>Organization</th><th>Contact Person</th><th>Contact Phone</th></tr>
            </table>
	</div>
        <div id="tabs-2">
            <form action="/organizations/" method="POST">
                <label>Name: </label><input name="name" type="text" />
                <label>Contact Name: </label><input name="contact_name" type="text" />
                <label>Contact Phone: </label><input name="contact_phone" type="text" />
                <input type="submit" value="add" />
            </form>
        </div>
    </div>
</div>

<h4>Enter additional hours:</h4>
<form action="/semesters/{{ semester.id }}" method="POST">
    <label>Date: </label><input name="date" type="date" id="date" />
    <label>Number of Hours: </label><input name="hours" type="number" />
    <label>Activity: </label><input name="activity" type="text" />
    <label>Organization: </label>
    <a href="#" id="selectorg">Select an organization</a>
    <br/>
    <input type="submit" value="add"/>
</form>
{% else %}
<p>Your hours for this semester are no longer editable.</P>
{% endif %}
{% endblock %}
