{% extends "admin_base.html" %}


{% block head %}
<script src="/static/jquery-ui-1.8.18.custom.min.js"></script>
<script src="/static/quicksilver.js"></script>
<script src="/static/orgsdialog.js"></script>
<script src="/static/hoursentry.js"></script>
<link rel="stylesheet" type="text/css" href="/static/custom-theme/jquery-ui-1.8.18.custom.css" />
{% endblock head %}


{% block tab %}tab1{% endblock %}


{% block bread %}
<li><a href="/">Semesters</a></li>
<li>{{ semester.name }}</li>
{% endblock %}


{% block content_heading %}
{{ student.name }}'s hours for {{ semester.name }}
{% endblock %}


{% block content %}
<table>
    <tr><th>Date</th><th>Hours</th><th>Activity</th>

{% if semester.active %}
        <th></th>
        {% endif %}
    </tr>

    {% for entry in entries %}
    <tr class="{{ loop.cycle("alt", "") }}">
        <td>{{ entry.event_date }}</td>
        <td>{{ entry.hours }}</td>
        <td>{{ entry.activity }}</td>

        {% if semester.active %}
        <td><a href="/semesters/{{ semester.id }}/hours/{{ entry.id }}?_method=DELETE">delete</a></td>
        {% endif %}
    </tr>
    {% else %}
    <tr class="alt"><td colspan="4">No hours entered yet.</td></tr>
    {% endfor %}
</table>

<p>Total hours for semester: {{ hours }}<p>

{% if semester.active %}
<form action="/semesters/{{ semester.id }}" method="POST">
    <fieldset>
        <legend>Enter Addtional Hours</legend>
        <label>Date: </label><input class="date" name="date" type="text" id="date" />
        <label>Number of Hours: </label><input class="digits" name="hours" type="number" />
        <label>Activity: </label><textarea rows="3" cols="30" class="text" name="activity" ></textarea>
        <label>Organization: </label>
        <a href="#" id="selectorg">Select an organization</a>
        <input class="digits" name="organization" type="hidden" />
        <input class="submit" type="submit" value="add"/>
    </fieldset>
</form>
{% else %}
<p>Your hours for this semester are no longer editable.</P>
{% endif %}

<div id="orgsdialog">
    <div id="orgs-dialog-tabs">
	<ul>
            <li><a href="#orgs-dialog-tabs-1">Choose Organization</a></li>
            <li><a href="#orgs-dialog-tabs-2">Add New Organization</a></li>
	</ul>
	<div id="orgs-dialog-tabs-1">
            <fieldset class="filter">
                <label>Search: </label><input type="text" name="filter" class="filter" />
            </fieldset>
            <table class="orgs">
                <tr><th>Organization</th><th>Contact Person</th><th>Contact Phone</th></tr>
            </table>
	</div>
        <div id="orgs-dialog-tabs-2">
            <form action="/organizations/" method="POST" class="orgsform">
                <label>Name: </label><input name="name" type="text" />
                <label>Contact Name: </label><input name="contact_name" type="text" />
                <label>Contact Phone: </label><input name="contact_phone" type="text" />
                <input type="submit" value="add" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
