{% extends "admin_base.html" %}
{% block tab %}tab1{% endblock %}
{% block bread %}
<li><a href="/semesters/">Semesters</a></li>
<li>{{ semester.name }}</li>
{% endblock %}
{% block content_heading %}{{ student.name }}'s hours for {{ semester.name }}{% endblock %}</h2>
{% block content %}
<table>
    <tr><th>Date</th><th>Hours</th><th>Activity</th>

{% if semester.active %}
        <th></th>
        {% endif %}
    </tr>
    {% for entry in entries %}
    <tr class="{{ loop.cycle("alt", "") }}"><td>{{ entry.event_date }}</td><td>{{ entry.hours }}</td><td>{{ entry.activity }}</td>
{% if semester.active %}
        <td><a href="/semesters/{{ semester.id }}/hours/{{ entry.id }}?_method=DELETE">delete</a></td>
        {% endif %}
    </tr>
        {% else %}
        <tr class="alt"><td colspan="4">No hours entered yet.</td></tr>
    {% endfor %}

</table>
<br />
Total hours for semester: {{ hours }}
{% if semester.active %}
<h4>Enter additional hours:</h4>
<form action="/semesters/{{ semester.id }}" method="POST">
    <label>Date: </label><input name="date" type="date" />
    <label>Number of Hours: </label><input name="hours" type="number" />
    <label>Activity: </label><input name="activity" type="text" />

    <br/>
    <input type="submit" value="add"/>
</form>
{% else %}
<p>Your hours for this semester are no longer editable.</P>
{% endif %}
{% endblock %}
