{% extends "admin_base.html" %}
{% block tab %}tab1{% endblock %}
{% block bread %}
<li>Semesters</li>
{% endblock %}
{% block content_heading %}{{ student.name }}{% endblock %}</h2>
{% block content %}
<table>
    <tr><th>Semester</th><th>Your Hours</th><th>Open for new entry?</th></tr>
    {% for semester in semesters %}
    <tr class="{{ loop.cycle("alt", "") }}">
        <td><a href="/semesters/{{ semester.id }}">{{ semester.name }}</a></td>
        <td>{{ semester.hours }}</td>
        <td>{{ yn(semester.active) }}</td>
    </tr>
        {% else %}
        <tr class="alt"><td colspan="3">There are no semesters configured for you to enter hours for.</td></tr>
    {% endfor %}
</table>
<br />
Total hours over all semesters: {{ hours }}
{% endblock %}
