{% extends "admin_base.html" %}
{% block bread %}
<li><a href="/semesters/">Semesters</a></li>
<li>{{ semester.name }}</li>
{% endblock %}
{% block content_heading %}{{ semester.name }}{% endblock %}</h2>
{% block content %}
<div class="content-inner">
    <table>
        <tr><th>Username</th><th>Name</th><th>Hours</th></tr>
        {% for s in students %}
        <tr>
            <td><a href="/semesters/{{ semester.id }}/students/{{ s.id}}">{{ s.username }}</a></td>
            <td>{{ s.name }}</td>
            <td>{{ s.hours }}</td>

        </tr>
        {% endfor %}
    </table>
</div>
<br />
Total hours from all students: {{ hours }}

{% if students|length < 1 %}
no students
{% endif %}
{% endblock %}
