{% extends "admin_base.html" %}
{% block tab %}tab2{% endblock %}
{% block bread %}
<li><a href="/admin/students/">Students</a></li>
<li><a href="/admin/students/{{ student.id }}">{{ student.name }}</a></li>
<li>{{ semester.name }}</li>
{% endblock %}
{% block content_heading %}{{ student.name }}'s hours for {{ semester.name }}{% endblock %}</h2>
{% block content %}
<table>
    <tr><th>Date</th><th>Hours</th><th>Activity</th</tr>
    {% for entry in entries %}
    <tr class="{{ loop.cycle("alt", "") }}"><td>{{ entry.event_date }}</td><td>{{ entry.hours }}</td><td>{{ entry.activity }}</td></tr>
        {% else %}
        <tr class="alt"><td colspan="3">No hours entered yet.</td></tr>
    {% endfor %}
</table>
<br />
Total hours for semester: {{ hours }}
{% endblock %}
