{% extends "admin_base.html" %}
{% block bread %}
<li>Organizations</li>
{% endblock %}
{% block tab %}tab3{% endblock %}
{% block content_heading %}Organizations{% endblock %}</h2>
{% block content %}
<table>
    <tr><th>Organization</th><th>Contact Person</th><th>Contact Phone</th><th></th></tr>
    {% for o in organizations %}
    <tr class="{{ loop.cycle("alt", "") }}">
        <td>{{ o.name }}</td>
        <td>{{ o.contact_name }}</td>
        <td>{{ o.contact_phone }}</td>
        <td><a href="/admin/organizations/{{ o.id }}?_method=DELETE">delete</a></td>
    </tr>
        {% else %}
        <tr class="alt"><td colspan="3">No organizations yet.</td></tr>
    {% endfor %}
</table>
<br/>
<form action="/admin/organizations/" method="POST">
    <fieldset>
        <legend>
            Add New Organization
        </legend>
        <label>Name: </label><input name="name" type="text" />
        <label>Contact Person: </label><input name="contact_name" type="text" />
        <label>Contact Phone: </label><input name="contact_phone" type="text" />
        <input type="submit" value="add" />
</fieldset>
</form>
{% endblock %}

