{% extends "admin_base.html" %}
{% block bread %}
<li><a href="/admin/semesters/">Semesters</a></li>
<li>{{ semester.name }}</li>
{% endblock %}
{% block content_heading %}{{ semester.name }}{% endblock %}</h2>
{% block content %}
<h2>Hours</h2>
<table>
    <tr><th>Student</th><th>Hours this Semester</th></tr>
    {% for s in students %}
    <tr class="{{ loop.cycle("alt", "") }}">
        <td><a href="/admin/semesters/{{ semester.id }}/students/{{ s.id}}">{{ s.name }}</a></td>
        <td>{{ s.hours }}</td>
    </tr>
    {% else %}
    <tr class="alt"><td colspan="2">No students have entered hours for this semester yet.</td></tr>
    {% endfor %}
</table>
<br />
Total hours from all students: {{ hours }}
<h2>Reflections</h2>
<div class="reflections" data-collapse>
    {% for r in reflections %}
    <h4 class="reflection">
        {{ r.student_name }}
    </h4>
    <div class="reflection">
        {{ r.student_semester_reflection | safe }}
    </div>
    {% endfor %}
</div>
<h2>New Entry</h2>
{% if semester.active %}
This semester is currently open for students to enter new data. <a href="/admin/semesters/{{ semester.id }}/close">Close</a>
{% else %}
This semester is currently closed to new data entry. <a href="/admin/semesters/{{ semester.id }}/open">Open</a>
{% endif %}

{% endblock %}
