{% extends "admin_base.html" %}
{% block tab %}tab2{% endblock %}
{% block bread %}
<li>Students</li>
{% endblock %}
{% block content_heading %}All Students{% endblock %}</h2>
{% block content %}
<table>
    <tr><th>Student</th><th>Total Hours</th></tr>
{% for s in students %}
<tr class="{{ loop.cycle("alt", "") }}">
    <td><a href="/admin/students/{{ s.id }}">{{ s.name }}</a></td>
    <td>{{ s.hours }}</td>
</tr>
        {% else %}
        <tr class="alt"><td colspan="2">No students yet.</td></tr>
{% endfor %}
</table>

{% endblock %}
